# Node
AGENTS.md
node_modules/
Frontend/node_modules/
.vite/
dist/
Frontend/dist/

# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env
src/uploads/*
*.log
mathew_test.pdf

# Firebase secrets
firebase-admin.json

# OS / editor noise
.DS_Store
.vscode/
.idea/
